*, html{
    padding: 0;
    margin: 0;
}

.backgroundimg{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.background h2{
    position: absolute;
    top: 0;
    color: white;
    font-family: calluna-sans, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12.5px;
    letter-spacing: .15em;
    text-align: center;
    top: calc(10% - 2em);
}

.background h1{
    position: absolute;
    color: white;
    font-family: ltc-bodoni-175, serif;
    font-size: 32px;
    letter-spacing: .1em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    flex-wrap: wrap;
    width: 400px;
    top: calc(50% - 2em);
}

.background h3{
    position: absolute;
    top: 0;
    color: white;
    font-family: calluna-sans, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .15em;
    text-align: center;
    top: calc(50% - 1em);
}

.background button{
    position: absolute;
    top: 0;
    color: white;
    background: transparent;
    font-family: calluna-sans, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .15em;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
    top: calc(50% + 3em);
    margin: 0;
    cursor: pointer;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
    width: 100%;
}

button:hover, a:active, a:hover{
    background-color: white;
    color: #011d1b;
    text-decoration: none;
    font-weight: 600;
    background-clip: border-box;

}

.socialmedia{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    bottom: calc(10% - 2em);
    left: calc(50% - 60px);
}

.socialmedia img{
    width: 30px;
    margin-left: 10px;
}

.socialimg:hover:first-of-type{
    background: #c8232c;
    border-radius: 50%;
}

.socialimg:hover:nth-of-type(2){
    background: #3b5998;
    border-radius: 50%;
}

.socialimg:hover:last-of-type{
    background: #de1b85;
    border-radius: 50%;
}

/* Home */

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

header img{
    display: block;
    max-width: 275px;
    margin-left: calc(10% - 3em);
    width: 100%;
    height: auto;
    min-height: 60px;
}

/*media queries*/
@media (max-width:780px){
    header img{
        width: 120px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }
    
    header nav{
        margin-top: 20px !important;
        background-color: white;
    }
    
    #nav{
        display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 40px;
        margin-right: 100px !important;
    }
    
    #nav.show{
        display: flex;
        
    }
    
    nav ul li{
        background-color: white;
        text-align: center;
        
        
    }
    
    nav .hamburger{
        margin-right: 10px;
        opacity: 100%;  
    }  
    
    header{
        padding-top: 10px;
    }
    
    section img{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}

/* Home cont.*/

header nav{
    color: black;
    font-family: calluna-sans, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .15em;
    font-weight: 600;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

header nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    
}

header nav li{
    margin-right: 20px;
    
}

.hamburger{
    width: 24px;
    height: 24px;
    background-color: white;
    border:none;
    opacity: 0;
    cursor: pointer;
}

.hamburger> i{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger> i:before, .hamburger> i:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -9px;
    width: 100%;
    height: 3px;
    background-color: black;
}

.hamburger> i:after{
    top: 9px;
}

.hamburger:focus{
    outline: none;
}

section img{
    width: 100%;
    z-index: 2;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.homemain{
    position: relative;
    background-color: white;
    z-index: 3;
    
}

.homemain h2{
    color: black;
    font-family: calluna, serif;
    font-style: italic;
    font-size: 14px;
    line-height: 1.9em;
    letter-spacing: .03em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.homemain h1{
    color: black;
    font-family: ltc-bodoni-175, serif;
    font-size: 25px;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    width: 66.6%;
    margin: 0 auto;
    
}

.homemain h1 span{
    font-style: italic;
}

hr{
    width: 66.6%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.article{
    display: flex;
    flex-wrap:wrap;
    width: 66.6%;
    margin: 0 auto;
    flex-direction: row;
}

.article h2{
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
}

.article p{
    color: black;
    font-family: calluna-sans, sans-serif;
    font-size: 13.5px;
    line-height: 2.3em;
    letter-spacing: .015em;
    font-weight: 400;
    word-wrap: break-word;
    width: 400px;
    margin-left: 50px;
}

div:nth-of-type(3){
    margin: 60px 0px 150px 0px;
}

.portcolumn img{
    width:100%;
    margin-bottom: 20px;
}

.portcolumn{
    display: inline-flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    margin-bottom: 150px;
    
}

.portcolumn div{
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 50px 20px 0px;
}

.article img{
    width: 40%;
}

article:nth-of-type(3){
    margin-top: 100px;
}

.pressarticle{
    display: flex;
    flex-wrap:wrap;
    width: 66.6%;
    margin: 0 auto;
    flex-direction: row;
}

.pressarticle img{
    width: 50%;
}